.topcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
}


li {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.box1 {
    grid-row: 1 / span2;
}